body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  font-size: 62.5%;
  cursor: crosshair;
}

ul {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.stalker{
    position: absolute;
}

body .content{
    background-image: url("../images/background_image.png");
    background-color: #eeeeee;
    text-align: center;
    font-size: 1.6rem;
}

.blink {
    height: auto;
}

.red {
    color: red;
}

body .marquee{
    font-size: 3.0rem;
    border-style: outset;
    border-width: 8px;

    animation-name: marqueeAnimation;
    animation-timing-function: linear;
    animation-duration:8s;
    animation-iteration-count: infinite;

    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

@keyframes marqueeAnimation{
    0%{
        text-indent: 100%;
}
    100%{
        text-indent: -80%;
    }
}
