body {
  background-color: red;
  cursor: crosshair;
  overflow-x: hidden;
  text-align: center;
  min-height: 100%;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: yellow;
}

.enter img {
  margin: 0 auto;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: center;
}

ul {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

li {
  margin-left: -30px;
  height: 100px;
}

.stalker {
  position: absolute;
  margin: 0;
  padding: 0;
}

body .article {
  background-image: url("../images/bg_image.png");
  background-color: #eeeeee;
  font-size: 1.6rem;
}

.blink {
  color: red;
}

header {
  border-style: outset;
  border-width: 8px;
}

.marquee {
  font-size: 3.0rem;
  animation-name: marqueeAnimation;
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-iteration-count: infinite;

  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

@keyframes marqueeAnimation{
  0% {
    text-indent: 100%;
  } 100% {
    text-indent: -28em;
  }
}
